/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.w-50{
    width: 50%;
    float: left;
}
.subscribed_country{
    height:100px;
}
.mrc-country-box{
    display: flex;
}
.subscribed_country select{
    border: 1px solid #000;
    padding-top: 10px !important;
    height: 44px;
    margin-bottom: 20px;
    color: #000;
    font-size: 12px;
    font-weight: 400;
    background: #fff;
    max-width: 100%;
    outline: 0;
    font-family: inherit;
    border-radius: 6px;
    font-size: 16px;
    
}
#wpmp-rfq-new-quote-form .forminp.subscribed_country{
    height: 0;
    padding: 0 35px 0 24px;
}
#main_container .dropbtn{
    background-color: #eb9a72;
    color: #fff;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #eb9a72;
    cursor: pointer;
    border-radius: 5px;
    padding-right: 20px;
}
.dropdown:before {
    content: "▼";
    position: absolute;
    color: #fff;
    right: 0;
    font-size: 12px;
    margin: 11px 4px;
}
#main_container .dropdown {
  position: relative;
  display: inline-block;
}

#main_container .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
    height: 300px;
    overflow-y: auto;
}

#main_container .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
#main_container .dropdown-content a:hover {
    background:#eee;
}
#main_container .dropdown:hover .dropdown-content {
  display: block;
}
#main_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*cancel button css start*/
.wk-mp-skeleton {
  animation: wk-mp-skeleton-animate 1.5s linear infinite;
  border-bottom: solid 6px transparent;
  border-left: solid 6px transparent;
  border-radius: 50%;
  border-right: solid 6px transparent;
  border-top: solid 6px #fff
}
.wk-mp-skeleton:before {
  border-bottom: solid 6px transparent;
  border-left: solid 6px #fff;
  border-radius: 50%;
  border-right: solid 6px transparent;
  border-top: solid 6px transparent;
  box-sizing: border-box;
  content: " ";
  display: inline-block;
  height: 48px;
  left: -6px;
  position: absolute;
  top: -6px;
  transform: rotateZ(-30deg);
  width: 48px
}
.wk-mp-skeleton:after {
  border-bottom: solid 6px transparent;
  border-left: solid 6px transparent;
  border-radius: 50%;
  border-right: solid 6px #fff;
  border-top: solid 6px transparent;
  box-sizing: border-box;
  content: " ";
  display: inline-block;
  height: 48px;
  position: absolute;
  right: -6px;
  top: -6px;
  transform: rotateZ(30deg);
  width: 48px
}
.markasclosed {
    border-radius:6px;
    background-color:#c76434;
    color:white;
    cursor:pointer;
    padding: 10px 20px; 
    font-size: 12px;
    width: 90px
}
#cancel-button {
    text-align:left;
}
@keyframes wk-mp-skeleton-animate {
  0% {
    opacity: 1;
    transform: rotate(0)
  }

  50% {
    opacity: .7
  }

  100% {
    opacity: 1;
    transform: rotate(360deg)
  }
}

/*cancel button css end*/

/*New Add RFQ template css*/
#wpmp-rfq-new-quote-form .input {
    width: 100% !important;
    border-color: #edecec !important;
    margin-bottom: 5px !important;
}

#wpmp-rfq-new-quote-form label {
    margin-bottom: 0;
    font-weight: bolder;
    color: var(--e-global-color-primary );
    font-family: "Syne", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 2.6em;
}

#wpmp-rfq-new-quote-form .description {
    display: block;
    font-size: small;
    color: #808080;
    margin-top: -4px;
    margin-bottom: 4px;
    font-weight: 300;
    font-family: Inter, sans-serif;
}

#wpmp-rfq-new-quote-form .wpmp-rfq-form-upload-button {
    font-size: 14px;
}

#wpmp-rfq-new-quote-form #wpmp-rfq-form-upload-button::before {
    font-size: 14px;
}

#wpmp-rfq-new-quote-form .required {
    color: #d83810;
}

#wpmp-rfq-new-quote-form .input-submit {
    background-color: #24B1CF !important;
    color: white !important;
    line-height: 20px !important;
    height: 50px !important;
    font-size: 16px !important;
    padding: 0px 22px !important;
    border: none !important;
}

#wpmp-rfq-new-quote-form .bg-image-container {
    width: 30%;
    padding: 15% 0px 0px 30px;
    display: block;
    float: right !important;
}

#wpmp-rfq-new-quote-form .form-table {
    width: 75% !important;
}

#wpmp-rfq-new-quote-form .submit-box {
    padding-right: 6%;
}
#wpmp-rfq-new-quote-form .forminp {
    width: 100%;
    background-color: #fff;
}
#wpmp-rfq-new-quote-form #billing-country{
    max-width: 95%;
}

.wk-mp-rfq-header h2 {
    font-family: Syne, sans-serif;
}
@media screen and (max-width: 768px) {
    .bg-image-container {
        width: 0%;
        padding: 0px;
        display: none;
    }

    .form-table {
        width: 100% !important;
    }

    .submit-box {
        padding-right: 7%;
    }
}
/*Add new form css end*/
@media only screen and (max-width: 767px){
    #main_container{
        display:block;
        margin-bottom:30px
    }
}
@media screen and (min-width:480px) and (max-width:800px) {
    width: 100%;
    float: none;
}

